#
#  GnuPG-Scripts
#
#  Copyright (C) 2016 Discreete Linux Team <info@discreete-linux.org>
#

[Desktop Entry]
Exec=/usr/bin/gpg-janitor
Icon=gnupg-scripts-config
Name=GnuPG Keyring Janitor
Terminal=false
Type=Application
Version=1.0
Categories=Application;Security;
X-Ubuntu-Gettext-Domain=gnupg-scripts
