Package: gnupg-scripts
Version: 0.11
Architecture: all
Maintainer: Discreete Linux Team <info@discreete-linux.org>
Installed-Size: 746
Depends: desktop-file-utils, gnupg, gnupg-agent, nemo-python, python-magic
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: Python scripts that invoke gpg
 gnupg-scripts provides python scripts that invoke gpg for encryption and
 decryption, signatures and verification from within nautilus; moreover,
 an editor for key groups and a script for configuration of the default key
 and other options of gnupg and gnupg-scripts is provided
